<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:3030/loginStyle.css">
    <title>profile</title>
</head>
<body>
    <input id="user-name" type="hidden" value="<%= user.userName %>">
        <div class="parent">
           
                <div id="infoDiv" class="formDiv">
                    <h2 class="form-title"> <%= user.userName %> پنل کاربری</h2>
                   <div class="pro-info">
                       <p>نام کاربری: <span><%= user.userName %></span></p>
                       <p>ایمیل: <span><%= user.email %></span></p>
                       <p>جنسیت: <% if(user.gender==='male'){ %>
                            <span>مرد</span>
                        <% }else if(user.gender !== undefined){ %>
                            <span>زن</span>
                        <% } %></p>
                       <p>رمز عبور: <span><%= user.password %></span></p>
                   </div>
                   <div id="alert">
                        <p id="alert-txt"></p>
                    </div>
                    <% if(editMode){ %>
                        <div class="alert alert-success">
                            <strong>تغییرات ذخیره شد</strong>
                          </div>
                          <% } %>
                   <div class="form-group form-button">
                        <button type="button"  id="edit" class="btn btn-success" onclick="editFunc()">ویرایش</button>
                        <button type="button"  id="" class="btn btn-success" onclick="logoutFunc()">خروج</button>
                        </div>
                </div>
                <div id="editDiv" class="formDiv">
                        <h2 class="form-title"> <%= user.userName %> پنل کاربری</h2>
                        <form method="POST" class="register-form" id="login-form">
                                <div id="username-main" class="form-group">
                                    <label for="your_name"><i class="fa fa-user"></i></label>
                                    <input type="text" name="your_name" id="userName" value="<%= user.userName %>" onkeyup="checkName()">
                                </div>
                                <div id="email-main" class="form-group">
                                    <label for="your_email"><i class="fa fa-envelope"></i></label>
                                    <input type="email" name="your_email" id="email" value="<%= user.email %>" onkeyup="checkEmail()">
                                </div>
                                <div id="gender-main" class="form-group">
                                        <label for=""><i class="fa fa-child"></i></label>
                                        <select id="gender" tabindex="-1" onfocus="checkGender()" >
                                            <% if(user.gender==='male'){ %>

                                                <option id="male" selected="selected">مرد</option>
                                                <option id="female">زن</option>

                                                <% }else{ %>

                                                    <option id="male" >مرد</option>
                                                    <option id="female" selected="selected">زن</option>
                                                <% } %>
                                                </select>
                                </div>
                                <div id="pass-main" class="form-group">
                                    <label for="your_pass"><i class="fa fa-lock"></i></label>
                                    <input type="password" id="password" onkeyup="checkPassword()" value="<%= user.password %>">
                                    <p id=passNote>رمز عبور باید شامل حداقل یک عدد و یک کاراکتر خاص باشد</p>
                                    <i id="eye" class='fa fa-eye-slash'></i>
                                    
                                </div>
                                    <div id="edit-alert">
                                        <p id="edit-alert-txt">لطفا تمامی فیلدها را به درستی پر کنید</p>
                                    </div>
                                <div class="form-group form-button">
                                    <button type="button"  id="save-btn" class="btn btn-success" onclick="saveEditFunc()">ثبت </button>
                                    <button type="button"  id="" class="btn btn-success" onclick="logoutFunc()">خروج</button>
                                </div>
                            </form>
                </div>
               
                <div class="imgDiv">
                    <img id="proImg" src="http://localhost:3030/images/profile-img.jpg" alt="">
                   
                </div>
            </div>

            <script src="http://localhost:3030/jquery-3.4.1.js"></script>
            <script src="http://localhost:3030/proScript.js"></script>
            <script src="http://localhost:3030/registerScript.js"></script>
</body>
</html>